*{
  border: none;
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#dcf0f0;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:#f0f0f0;
}

.cloud--i{
  font-size: 50px;
}

.main--content p{
  margin: 0;
  font-size: 3rem;
  font-weight: 500;
}
